html, body {
    font-family: 'Spartan', sans-serif;
    color: #183b56 !important;
    font-size: 1.1rem;
}

[class*="col-"] {
    padding: 1rem;
}

/* Typography */
#main-paragraph {
    font-weight: 400;
}

#my-header {
    font-weight: 450;
}

#faq-paragraph {
    font-weight: 500;
}

.card-title {
    font-size: 3.5rem;
    font-weight: 480;
}


/* Buttons */
#btn-menu-2 {
    background-color: #fc6363;
    color: white;
}

#btn-menu-2:hover {
    background-color: #e44a4a;
}

#my-btn {
    background-color: #183b56;
    color: white;
    margin-right: 1rem;
    border-radius: .5rem;
}

#my-btn:hover {
    background-color: rgb(17, 18, 19);
}

.btn-downloadd {
    display: flex!important;
    align-items: center;
}


/* Icons */
.fa-apple,
.fa-google-play {
    padding-right: .8rem;
}

.fa-money-bill-wave,
.fa-map-marked-alt,
.fa-shopping-basket {
    color: #418b78;
    font-size: 3em;
    margin: 1rem;
}

.features {
    color: #183b56;
    font-size: 5em;
    margin: 1.2rem;
}

.fa-star {
    color: rgb(255, 200, 20);
}

.fa-book-open {
    margin-right: .5rem;

}

.fa-twitter {
    color: #1DA1F2;
}

.fa-facebook {
    color: #43609C;
}

.fa-github {
    color:black;
}

.fa-dribbble {
    color: #ea4c89;
}

.social {
    margin-right: .8rem;
    font-size: 1.5rem;
}

.social:hover {
    color: #d5d5d5;
}


/* Navbar */
.navbar-brand img {
    height: 2.5rem;
}

.navbar {
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.nav-item {
    padding: .5rem;
}

/* Image */
.customers-img {
    height: 3rem;
}


/* Footer */
input {
    display: block;
    border-radius: .4rem;
    padding: 0.45rem!important;
    border-color: rgba(163, 163, 163, 0.897);
}

.themesberg {
    height: 25px;
}

@media (min-width: 992px) {
    #top-customer-card {
        margin-top: -5rem;
    }
}

@media (min-width: 501px) {
    .btns-dowl-section {
        display: flex!important;
    }
}

@media (max-width: 500px) {
    .btns-dowl-section {
        display: grid!important;
    }
}